* {
  box-sizing: border-box;
}

/*Bloqueo inicial de las pantalla*/
#screenBrasil, #screenChile,#screenMexico,#screenPeru,#screenIndicators{display: none;}

.header{
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: #C94AFF;
  color:#ffffff;
}
.title{
  font-family: Oranienbaum;
}



[class*="col-"]{
  float:left;
  padding:15px;
}

/*Declarando las columnas para el diseno responsive*/

/*Celular*/
[class*="col-"]{
  width: 100%;
}


@media only screen and (min-width: 768px) {

/*computadora*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}



body{
  background-color: #ffffff;
  padding: 30px;
}
/*menu es la columna 2*/
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Botones del menu de paises*/
.button{
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border-color: #684F80;
  border-radius: 8px;
  width: 80px;
  height: 50px;
  padding: 5px;
  border: outset;
}
.button:hover{
  background-color: #C94AFF;
}

/*Nombre de cada pais*/
.countries{
  color:black;
  font-size: 25px;
  text-align: left;
  background-color:transparent;
  background-size: contain;
  padding: 5px;
  }

#buttonBrasil{
    background-image:url("brasilbandera.jpg");
  }
#buttonChile{
background-image:url("chilebandera.jpg");
}
#buttonPeru{
background-image:url("perubandera.jpg");
}
#buttonMexico{
background-image:url("mexicobandera.jpg");
}

/*Estilo de los botones ano e indicador*/
.desicion{
  background-color: #FFAFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /*background-image: -webkit-linear-gradient(top, #239983, #DDA7E8);
  background-image: -moz-linear-gradient(top, #239983, #DDA7E8);
  background-image: -ms-linear-gradient(top, #239983, #DDA7E8);
  background-image: -o-linear-gradient(top, #239983, #DDA7E8);
  background-image: linear-gradient(to bottom, #239983, #DDA7E8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;font-family: Arial;
  color: #fafafa;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;

*/}
/*.desicion:hover{

  background: #FFEFBA;
  background-image: -webkit-linear-gradient(top, #FFEFBA, #6CCCBA);
  background-image: -moz-linear-gradient(top, #FFEFBA, #6CCCBA);
  background-image: -ms-linear-gradient(top, #FFEFBA, #6CCCBA);
  background-image: -o-linear-gradient(top, #FFEFBA, #6CCCBA);
  background-image: linear-gradient(to bottom, #FFEFBA, #6CCCBA);
  text-decoration: none;
}*/
.menuBrasil{
  position: relative;
  display: inline-block;
}
.dropdownmenuBrasil{
  display: none;
  position: absolute;
  background-color: #F082FF;
  min-width: 560px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdownmenuBrasil a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdownmenuBrasil a:hover {background-color: #f1f1f1}

.menuBrasil:hover .dropdownmenuBrasil {
  display: block;
}

.menuBrasil:hover .desicion {
  background-color: #A437B3;
}

/*main*/
.col-10{
  border-style: outset;
  background-image:url("mujeres.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;

}

.summary{

  margin-top: 500px;
  color:black;
  padding: 5px;
  font-size: 20px;
}
